src/
.vscode/
.vscode-test/
.gitignore
.editorconfig
.eslintrc.json
tsconfig.json
esbuild.js
*.map
.prettierrc
.npmrc
*.vsix
CONTRIBUTING.md
.github/
test/
**/.DS_Store
coverage/

.vs/

dist/*.map

# Opcjonalnie - usuń niepotrzebne pliki z node_modules
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/test
node_modules/**/tests
node_modules/**/.github
node_modules/**/example
node_modules/**/examples