src/
.vscode/
.vscode-test/
.gitignore
.editorconfig
.eslintrc.json
tsconfig.json
esbuild.js
*.map
.prettierrc
.npmrc
*.vsix
CONTRIBUTING.md
.github/
test/
**/.DS_Store
coverage/

.vs/

dist/*.map

# Exclude bundled sources
node_modules/
libs/

Icon.png

samples/